.all-to-action-bg{
    background-image: url(https://mm.creativelive.com/fit/http%3A%2F%2Fagc.creativelive.com%2Fagc%2F201801-GREENGOFUNDAMENTALS%2F20181212_fundamentalsofphotography_lindseythomas_digitalweb_1600x900_final.jpg/500);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}